@use "colors.scss" as colors;
@import "fonts.scss";

html, body {
    background-color: colors.$offwhite;
    margin: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    font-family: "Mundial";
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
}

p {
    font-family: "Mundial thin";
    font-size: 1.2rem;
}

a {
    font-family: inherit;
    color: colors.$blue;
}
