@import "fonts.scss";

html, body {
    margin: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    font-family: "Mundial";
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
}

p {
    font-family: "Mundial Thin";
}
