@use "../styles/colors.scss" as colors;

$sidebar-width: 40px;
$footer-min-height: 200px;

.sidebar {
    font-size: 0.8rem;

    background-color: colors.$offblack;
    color: colors.$offwhite;

    height: 100vh;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6px;
    width: $sidebar-width;
    position: fixed;
    writing-mode: vertical-rl;

    transform: rotateZ(180deg);

    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: colors.$offwhite;
    }

    a:hover {
        text-decoration: underline;
        color: colors.$offwhite;
    }
}

.content {
    margin-left: $sidebar-width;

    min-height: calc(100vh - $footer-min-height);

    min-width: 720px;

    padding: 20px;
}