.organizer {
    width: 50%;
    flex-basis: 45%;

    display: flex;

    height: 106px;

    img {
        border-radius: 50%;
        width: 106px;
        cursor: pointer;
    }
}

.info {
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h1 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem !important;
    }

    p {
        font-size: 1.1rem;
        margin: 0;
    }

    svg {
        margin-right: 0.5rem;
        transform: scale(1.1);
    }

    svg:hover {
        transform: scale(1.4);
    }
}

.image {

}